<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <script th:src="@{static/js/jquery.min.js}"></script>

    <link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <script th:src="@{static/bootstrap/js/bootstrap.min.js}"></script>

    <link href="static/bootstrap/table/bootstrap-table.css" rel="stylesheet" media="screen"/>
    <script th:src="@{static/bootstrap/table/bootstrap-table.js}"></script>
    <script th:src="@{static/bootstrap/table/local/bootstrap-table-zh-CN.js}"></script>

    <link href="static/toastr/toastr.css" rel="stylesheet" media="screen"/>
    <script th:src="@{static/toastr/toastr.js}"></script>
    <title>设备信息配置</title>
</head>
<body>
    <div class="container">
        <div class="page-header">
            <h1>设备配置信息</h1>
        </div>
        <p></p>
        <ul id="myTab" class="nav nav-tabs">
            <li class="active"><a href="#home" data-toggle="tab">设备信息</a>
            </li>
            <li><a href="#device-type" data-toggle="tab">设备属性</a></li>
            <li>
                <a href="#branch"  data-toggle="tab" >门店</a>
            </li>
            <li>
                <a href="#attribute"  data-toggle="tab" >属性</a>
            </li>
            <li>
                <a href="#attribute-type"  data-toggle="tab" >属性类型</a>
            </li>
        </ul>

        <div id="tabContent" class="tab-content">
            <div class="tab-pane fade in active" id="home">
                <div th:replace="device.html"></div>
            </div>
            <div class="tab-pane fade" id="device-type">
                device type
            </div>
            <div class="tab-pane fade" id="branch">
                branch
            </div>
            <div class="tab-pane fade" id="attribute">
                attribute
            </div>
            <div class="tab-pane fade" id="attribute-type">
                attribute type
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    ctxPath = /*[[@{/}]]*/ '';
    /*]]>*/
</script>
<script th:src="@{static/js/index.js}"></script>
<script th:src="@{static/js/device.js}"></script>
</html>