<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bgy.robot.accesscontrol.mapper.DeviceMapper" >
  <resultMap id="BaseResultMap" type="com.bgy.robot.accesscontrol.entity.Device" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="IP" property="ip" jdbcType="VARCHAR" />
    <result column="GID" property="gid" jdbcType="VARCHAR" />
    <result column="DEV_NO" property="devNo" jdbcType="VARCHAR" />
  </resultMap>
</mapper>