<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bgy.device.mapper.AttributeTypeMapper">
  <resultMap id="BaseResultMap" type="com.bgy.device.entity.AttributeType">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="attribute_type_id" jdbcType="INTEGER" property="attributeTypeId" />
    <result column="attribute_type_name" jdbcType="VARCHAR" property="attributeTypeName" />
  </resultMap>

</mapper>