<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bgy.device.mapper.DeviceTypeMapper">
  <resultMap id="BaseResultMap" type="com.bgy.device.entity.DeviceType">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="type_code" jdbcType="VARCHAR" property="typeCode" />
    <result column="type_name" jdbcType="VARCHAR" property="typeName" />
  </resultMap>

  <delete id="deleteAll">
    delete from device_type
  </delete>
</mapper>